# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
media/
staticfiles/

# Virtual environment
venv/
env/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables / secrets
.env
*.env

# Database
db.sqlite3
*.sqlite3

# Django cache
django_cache/
